:root{
    --fonte-clara: #000000;
    --fonte-escura: #595959;
    --input-fundo: #f2f2f2;
    --tabela-fundo: #cccccc;
    --tabela-destaque: #888888;
    --janela-fundo: #a5a5a5;
    --borda: #3b2b46;
    --sombra: #888888;

    /*
    original

    --fonte-clara: #ffffff;
    --fonte-escura: #000;
    --color-1: #ffffea;
    --color2: #a795a5;
    --color3: #7a959e;
    --janela-fundo: #424e5e;
    --borda: #3b2b46;
    --sombra: #888888;

    */


}

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    box-sizing: border-box;

}

body{
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    background-color: aqua;
}

header{
    grid-column: col-start / span 12;
    grid-row: 1;
    top:0;
    position: fixed;
    display: flex;
    flex-flow: row nowrap;    
    justify-content: space-between;
    border: 1px solid var(--borda);
    padding: .5rem 0;
    width: 99%;
    color: var(--fonte-clara);
    background-color: var(--janela-fundo);

    form{
        label{
            padding: 0 .5rem;
        }

        input{
            margin: 0 .5rem;
            color: var(--fonte-escura);
            background-color: var(--input-fundo);
        }
    }  
} 

.form-veiculo{
    display: flex;
    flex-direction: column;
    flex-basis:60%;
}

.form-info{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    flex-basis: 40%;
}

.form-info-col{
    display: flex;
    flex-direction: column;
}

.corpo{
    grid-column: col-start 3 / span 10;
    grid-row: 2;
}

table{
    position: relative;
    top: 5rem;
    width: 70%;
    margin: auto;
    border-collapse: collapse;

    thead{
        background-color: var(--janela-fundo);
        color: var(--fonte-clara);
        border: none;

        th{
            padding: .5rem;
            font-weight: 100;
        }
    }

    tbody{
        background-color: var(--input-fundo);

        tr:hover{
            background-color: var(--tabela-destaque);
        }

        td{
            padding: .5rem;
            text-align: center;
        }

    }
}

.sombra{
    box-shadow: 5px 5px 10px var(--sombra);
}

.esquerda{
    text-align: left;
}

.centro{
    text-align: center;
}

.menu-lateral{
    grid-column: col-start 1 / span 2;
    grid-row: 2;
    width: 100%;
    color: var(--fonte-clara);
    background-color: var(--janela-fundo);
    position: relative;
    top: 5rem;
    display: flex;
    flex-direction: column;
    padding: .5rem;
    
    div{
        padding: .5rem;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    input{
        color: var(--fonte-escura);
        background-color: var(--input-fundo);
    }
}
