:root{
    --fonte-clara: #000000;
    --fonte-escura: #595959;
    --input-fundo: #f2f2f2;
    --tabela-fundo: #cccccc;
    --tabela-destaque: #888888;
    --janela-fundo: #a5a5a5;
    --borda: #3b2b46;
    --sombra: #888888;
}

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    box-sizing: border-box;

}

body{
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    grid-template-rows: repeat(10, [row-start] 1fr);
    gap: 0;
    background-color: #000000;
}

label{
    padding: 0 .5rem;
}

input{
    color: var(--fonte-escura);
    background-color: var(--input-fundo);
    border: 1px solid var(--borda);
}

header{
    grid-column: col-start / span 12;
    grid-row: row-start;
    display: flex;
    flex-flow: row nowrap;
    gap: .5rem;
    justify-content: space-between;
    color: var(--fonte-clara);
    background-color: var(--janela-fundo);
    margin-bottom: 1rem;

    input, label{
        margin: 0 1rem;
    }

    label{
        margin-top: 1rem;
    }

    input{
        margin-bottom: 1rem;
    }
}

.form-veiculo{
    display: flex;
    flex-direction: column;
    flex-basis:60%;
}

.form-info{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    flex-basis: 40%;
}

.form-info-col{
    display: flex;
    flex-direction: column;
}

.corpo{
    grid-column: col-start 3 / span 10;
    grid-row: row-start 2 / span 9;
    overflow-y:hidden;
    background-color: aqua;
}

table{
    width: 70%;
    margin: 0 auto;
    border-collapse: collapse;

    thead{
        background-color: var(--janela-fundo);
        color: var(--fonte-clara);
        border: none;

        th{
            padding: .5rem;
            font-weight: 100;
        }
    }

    tbody{
        background-color: var(--input-fundo);
        tr:hover{
            background-color: var(--tabela-destaque);
        }

        td{
            padding: .5rem;
            text-align: center;
        }

    }
}

.sombra{
    box-shadow: 5px 5px 10px var(--sombra);
}

.borda{
    border: 1px solid var(--borda);
}

.esquerda{
    text-align: left;
}

.centro{
    text-align: center;
}

.srolled{
    height: 300px;
}
.scroll{
    width: 100%;
    height: 50vh;
    overflow-y: auto;
}

.menu-lateral{
    grid-column: col-start 1 / span 2;
    grid-row: row-start 2 / span 9;
    color: var(--fonte-clara);
    background-color: var(--janela-fundo);
    display: flex;
    flex-direction: column;
    padding: .5rem;
    
    div{
        padding: .5rem;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

}
