:root{
    --fonte-escura: #000000;
    --fonte-clara: #595959;
    --input-fundo: #edf2fb;
    --tabela-cabecalho:#5fa8d3;
    --tabela-fundo: #eeeeee;
    --tabela-destaque: #bee9e8;
    --janela-fundo: #62b6cb;
    --borda: #3b2b46;
    --sombra: #888888;
}

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    grid-template-rows: repeat(12, [row-start] 1fr);
    gap: 0;
}

label{
    padding: 0 .5rem;
}

input{
    color: var(--fonte-escura);
    background-color: var(--input-fundo);
    border: 1px solid var(--borda);
    height: 2rem;
}

header{
    margin: 1rem;
    grid-column: col-start / span 12;
    grid-row: row-start;
    display: flex;
    flex-flow: row nowrap;
    gap: .5rem;
    justify-content: space-between;
    color: var(--fonte-escura);
    background-color: var(--janela-fundo);
    min-width: 57rem;

    input, label{
        margin: 0 1rem;
    }

    label{
        margin-top: 1rem;
    }

    input{
        margin-bottom: 1rem;
    }
}

.titulo{
    display: flex;
    flex-direction: column;
}

.form-veiculo{
    display: flex;
    flex-direction: column;
    flex-basis:60%;
}

.form-info{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    flex-basis: 40%;
}

.form-info-col{
    display: flex;
    flex-direction: column;


    input{
        min-width: 5rem;
    }
}

.corpo{
    margin: 1rem;
    grid-column: col-start 3 / span 10;
    grid-row: row-start 2 / span 11;
}

table{
    width: 100%;
    border-collapse:collapse;

    thead{
        color: var(--fonte-escura);
        border: none;

        th{
            padding: .5rem;
            font-weight: 100;
            text-align: center;
        }
    }

    tbody{
        background-color: var(--tabela-fundo);
        tr:hover{
        background-color: var(--tabela-destaque);
        }

        td{
            padding: .5rem;
            text-align: center;
        }
    }
}

.sombra{
    box-shadow: 5px 5px 10px var(--sombra);
}

.borda{
    border: 1px solid var(--borda);
}

.esquerda{
    text-align: left;
}

.centro{
    text-align: center;
}


.scroll{
    width: 100%;
    margin: auto;
    height: 73vh;
    overflow-y:auto;
    scrollbar-gutter:stable;
    gap:0;
}

.sem-scroll{
    background-color: var(--tabela-cabecalho);
    width: 100%;
    margin: auto;
    overflow-y: hidden;
    scrollbar-gutter:stable;;
    margin-bottom: 0;
    gap: 0;
}

.menu-lateral{
    margin: 1rem;
    grid-column: col-start 1 / span 2;
    grid-row: row-start 2 / span 11;
    min-width: 10rem;
    max-width: 20rem;
    color: var(--fonte-escura);
    background-color: var(--janela-fundo);
    display: flex;
    flex-direction: column;
    padding: .5rem;
    
    div{
        padding: .5rem;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

.item{
    min-width: 11rem;
}

.km{
    min-width: 5.5rem;
}

.data{
    min-width: 6.5rem;
}

.prazo{
    min-width: 4rem;
}

/*##################################################################*
 *###                    Layout mobile                           ###*
 *##################################################################*/

  @media (max-width: 480px) {

    .container{
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
    }
    header{
        grid-row: 2;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .corpo{
        grid-row: 2;
    }

    .scroll, .sem-scroll {
        visibility: hidden;
    }

    .barra-laterl{
        grid-row: 3;
    }

 }