:root{
    --fonte-escura: #000000;
    --fonte-clara: #595959;
    --input-fundo: #edf2fb;
    --tabela-cabecalho:#5fa8d3;
    --tabela-fundo: #eeeeee;
    --tabela-destaque: #bee9e8;
    --janela-fundo: #62b6cb;
    --borda: #3b2b46;
    --sombra: #888888;
}

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    grid-template-rows: repeat(12, [row-start] 1fr);
    gap: 0;
}

label{
    padding: 0 .5rem;
}

input{
    color: var(--fonte-escura);
    background-color: var(--input-fundo);
    border: 1px solid var(--borda);
    border-radius: 6px;
    height: 2rem;
}

header{
    margin: 1rem;
    grid-column: col-start / span 12;
    grid-row: row-start;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: .5rem;
    color: var(--fonte-escura);
    background-color: var(--janela-fundo);

    input, label{
        margin: 0 1rem;
    }

    label{
        margin-top: 1rem;
    }

    input{
        margin-bottom: 1rem;
    }
}

.form-veiculo{
    display: flex;
    flex-direction: column;
    width: 75%;
    min-width: 15rem;
}

.form-info{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    min-width: 30rem;
    width: 25%;
}

.form-info-col{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.corpo{
    margin: 1rem;
    grid-column: col-start 3 / span 10;
    grid-row: row-start 2 / span 11;
}

.scroll{
    min-width: 50rem;
    height: 73vh;
    overflow-y:auto;
    scrollbar-gutter:stable;
    gap:0;
}

.sem-scroll{
    min-width: 50rem;
    overflow-y: hidden;
    scrollbar-gutter:stable;;
    margin-bottom: 0;
    gap: 0;
    background-color: var(--tabela-cabecalho);
}

table{
    width: 100%;

    thead{
        color: var(--fonte-escura);
        border: none;

        th{
            padding: .5rem;
            font-weight: 100;
            text-align: center;
        }
    }

    tbody{
        background-color: var(--tabela-fundo);

        tr:hover{
        background-color: var(--tabela-destaque);
        }

        td{
            padding: .5rem;
            text-align: center;
        }
    }
}

.sombra{
    box-shadow: 5px 5px 10px var(--sombra);
}

.borda{
    border: 1px solid var(--borda);
}

.esquerda{
    text-align: left;
}

.centro{
    text-align: center;
}

.menu-lateral{
    margin: 1rem;
    grid-column: col-start 1 / span 2;
    grid-row: row-start 2 / span 11;

    min-width: 14rem;
    color: var(--fonte-escura);
    background-color: var(--janela-fundo);
    display: flex;
    flex-direction: column;
    padding: .5rem;
    
    div{
        padding: .5rem;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

.item{
    text-align: left;
    min-width: 8rem;
}

.km{
    min-width: 5.5rem;
    width: 8rem;
}

.data{
    min-width: 6.5rem;
    width: 8rem;
}

.prazo{
    min-width: 5rem;
    width: 7rem;
}

.acoes{
    min-width: 5rem;
    width: 7rem;
}

.card, botao-flutuante{
    display: none;
}

.icone{
      display: inline-flex;
      width: 1.7rem;
      height: 1.7rem;
      padding: 0;
      border: none;
      background-color: transparent;
      background-position: center; /* posição do ícone */
      background-size: 100%;
    }

.btn{
      margin-top: .5rem;
      display: flex;
      width: 100%;
      height: 4rem;
      padding: 0;
      background-color: var(--tabela-destaque);
      background-position: center; /* posição do ícone */
      background-size: 100%;
      background-repeat: no-repeat;
      align-items: center;
      border-radius: 8px;

      img{
        width: 3rem;
        height: 3rem;

      }
    }



.i-atualizar{
    background-image: url("./fonts/refresh_48dp_0000F5.svg");
}

.i-deletar{
    background-image: url("./fonts/delete_48dp_EA3323.svg");
}

.i-incluir{
    background-image: url("./fonts/upgrade_48dp_EA3323.svg");
}

.i-adicionar{
    background-image: url("./fonts/add_box_48dp_0000F5.svg");    
}

/*##################################################################*
 *###                    Layout mobile                           ###*
 *##################################################################*/

  @media (max-width: 480px) {

    *{
        font-size: 12px;
    }
  

    .container{
        display: flex;
        flex-direction: column;
        /*
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        */
    }
    header{
        margin: 0;
        /*
        grid-column: 1;
        grid-row: 1;
        */
        flex-direction: column;
        justify-content: flex-start;
        gap: 0;
        height: 9.5rem;

        input, label{
            margin: 0 .5rem;
        }

        label{
            margin-top: .5rem;
        }

        input{
            margin-bottom: .5rem;
        }
    }

    .form-veiculo{
        width: 100%;
    }

    .form-info{
        width: 100%;
        justify-content: flex-start;
        min-width: none;
    }

    .corpo{
        display: flex;
        flex-direction: column;
        margin: 1rem 0 0 0;
        height: auto;
        overflow-y: auto;
        /*
        grid-column: 1;
        grid-row: 2;
        */
    }

    .sem-scroll, table{
        display: none;
    }
    .scroll{
        height: auto;
        min-width: 1rem;
        border: none;
    }

    .card{
        display: flex;
        flex-direction: column;
        margin: 1rem;
        border-radius: 6px;
    }

    .card-corpo{
        display: flex;
        flex-direction: row;
    }

    .card-titulo{
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: .5rem;
        font-weight: bold;
        text-align: left;
        justify-content: space-between;
    }

    .card-col{
        width: 50%;
        padding: .5rem;
        text-align: left;
    }

    .menu-lateral{
        position: fixed;
        top: 30vh;
        left: 5%;
        /*
        grid-column: 1;
        grid-row: 2;
        */
        z-index: 50;
        height: 43vh;
        width: 90%;
        margin: auto;
        border-radius: 6px;
    }

    .botao-flutuante{
        width: 8rem;
        height: 8rem;
        display: flex;
        position: fixed;
        bottom: 1rem;
        right: 1rem;

    }

 }

