:root{
    --fonte-escura: #000000;
    --cabecalho-titulo: #FFEBCD;
    --input-fundo: #f9f6f2;
    --tabela-cabecalho:#e2e2e2;
    --tabela-fundo: #f9f6f2;
    --tabela-destaque: #e1dbd6;
    --janela-fundo: #d1d1d1;
    --borda: #3b2b46;
    --sombra: #888888;
}

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas:
        'cab cab cab cab cab cab cab cab cab cab cab cab'
        'ml ml corp corp corp corp corp corp corp corp corp corp';
    gap: 0;
}

label{
    padding: 0 .5rem;
}

input, select{
    color: var(--fonte-escura);
    background-color: var(--input-fundo);
    border: 1px solid var(--borda);
    border-radius: 6px;
    height: 2rem;
}

header{
    background-color: #000000;
    margin: 1rem;
    grid-area: cab;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: .5rem;
    color: var(--fonte-escura);
    background-color: var(--janela-fundo);


    input, label, select{
        margin: 0 1rem;
    }

    label{
        margin-top: 1rem;
    }

    input, select{
        margin-bottom: 1rem;
    }
}

.cabecalho-titulo{
    background-color: var(--cabecalho-titulo);
    border-bottom: 1px solid var(--borda);
    padding: .5rem;
    margin: 0;
    text-align: center;
    }

.cabecalho-form{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.form-veiculo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 75%;
    min-width: 15rem;
}

.form-veiculo-col1{
    display: flex;
    flex-direction: column;
    width:100%;
}

.form-veiculo-inputs{
    width: 100%; 
    display: flex; 
    flex-direction: row;
}

.form-veiculo-botoes{
    display: flex;
    flex-direction: row;
    width:fit-content;
}

.form-info{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    min-width: 30rem;
    width: 25%;
}

.form-info-col{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.corpo{
    margin: 1rem;
    grid-area: corp;
}

.scroll{
    min-width: 50rem;
    height: 68vh;
    overflow-y:auto;
    scrollbar-gutter:stable;
    background-color: var(--tabela-fundo);
    gap:0;
}

.sem-scroll{
    min-width: 50rem;
    height: 10vh;
    overflow-y: hidden;
    scrollbar-gutter:stable;;
    margin-bottom: 0;
    gap: 0;
    background-color: var(--tabela-cabecalho);
}

table{
    width: 100%;
    border-collapse: collapse;

    thead{
        color: var(--fonte-escura);
        border: none;

        th{
            padding: .5rem;
            font-weight: 100;
            text-align: center;
        }
    }

    tbody{
        background-color: var(--tabela-fundo);

        tr:hover{
        background-color: var(--tabela-destaque);
        }

        td{
            padding: .5rem;
            text-align: center;
        }
    }
}

.sombra{
    box-shadow: 5px 5px 10px var(--sombra);
}

.borda{
    border: 1px solid var(--borda);
}

.esquerda{
    text-align: left;
}

.centro{
    text-align: center;
}

.formulario{
    margin: 1rem;
    grid-area: ml;
    min-width: 14rem;
    color: var(--fonte-escura);
    background-color: var(--janela-fundo);
    display: flex;
    flex-direction: column;
    padding: .5rem;
    height: 78vh;
    
    div{
        padding: .5rem;
        display: flex;
        flex-direction: column;
        
    }
}

.item{
    text-align: left;
    min-width: 8rem;
}

.especificacao-km{
    min-width: 5.5rem;
    width: 8rem;
}

.ultima-km{
    min-width: 5.5rem;
    width: 8rem;
}

.proxima-km{
    min-width: 5.5rem;
    width: 8rem;
}

.ultima-data{
    min-width: 6.5rem;
    width: 8rem;
}

.proxima-data{
    min-width: 6.5rem;
    width: 8rem;
}

.prazo{
    min-width: 5rem;
    width: 7rem;
}

.acoes{
    min-width: 5rem;
    width: 7rem;
}

.botao-flutuante{
    display: none;
}

.icone{
    display: inline-flex;
    width: 1.7rem;
    height: 1.7rem;
    padding: 0;
    border: none;
    background-color: transparent;
    background-position: center; /* posição do ícone */
    background-size: 100%;
    cursor: pointer;
}

.btn{
    margin-top: .5rem;
    display: flex;
    width: 100%;
    height: 4rem;
    padding: 0;
    background-color: var(--tabela-destaque);
    background-position: center; /* posição do ícone */
    background-size: 100%;
    background-repeat: no-repeat;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;

    img{
    width: 3rem;
    height: 3rem;

    }
}

.cabecalho-btn{
    margin:0 .5rem;
    padding: 0;
    background-color: var(--janela-fundo);
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 4rem;
    height: 3rem;

    img{
    width: 4rem;
    height: 3rem;

    }
}


.i-atualizar{
    background-image: url("./icones/atualizar.svg");
}

.i-deletar{
    background-image: url("./icones/deletar.svg");
}

.i-adicionar{
    background-image: url("./icones/formulario.svg");    
}

.i-incluir{
    background-image: url("./icones/incluir.svg");    
}

.i-editar{
    background-image: url("./icones/editar.svg");    
}

.i-cancelar{
    background-image: url("./icones/cancelar.svg");    
}

.i-salvar{
    background-image: url("./icones/salvar.svg");    
}

.invisivel-desktop{
    display: none;
    bottom: 3rem;
}

.visivel-desktop{
    display: grid;
}

/*##################################################################*
 *###                    Layout mobile                           ###*
 *##################################################################*/

  @media ((max-width: 480px) and (orientation: portrait)){

    .invisivel{
        display: none;
        bottom: 3rem;
    }

    .visivel{
        display: grid;
    }

    *{
        font-size: 12px;
    }
  
    .container{
        display: flex;
        flex-direction: column;
    }

    header{
        margin: 1rem;
        flex-direction: column;
        justify-content: flex-start;
        gap: 0;
        height: fit-content;

        input, label, select{
            margin: 0 .5rem;
        }

        label{
            margin-top: .5rem;
        }

        input, select{
            margin-bottom: .5rem;
        }
    }

    .cabecalho-titulo{
        width: 100%;
    }

    .cabecalho-form{
        flex-direction: column;
    }

    .form-veiculo{
        width: 100%;
    }

    .form-info{
        width: 100%;
        justify-content: flex-start;
  
    }

    .corpo{
        display: flex;
        flex-direction: column;
        margin: 1rem 0 0 0;
        height: auto;
        overflow-y: auto;
    }

    .sem-scroll{
        display: none;
    }

    table{

        tr{
            margin: 1rem;
            display: grid;
            grid-template-columns: auto auto auto auto;
            grid-template-rows: auto auto auto;
            box-shadow: 5px 5px 10px var(--sombra);
            border: 1px solid var(--borda);
            border-radius: 6px;
        }

        td{
            word-wrap: break-word;
        }
    }

    .item{
        display: grid;
        grid-column: 1 / 3;
        grid-row: 1;
        font-weight: bold;
        

    }

    .especificacao-km{
        display: grid;
        grid-column: 1;
        grid-row: 2;
        display: inline-flex;
    }

    .especificacao-km::after, .ultima-km::after,
     .proxima-km::after{
        
        content: "\00a0km"
    }

    .prazo{
        display: grid;
        grid-column: 1;
        grid-row: 3;
        display: inline-flex;
    }

    .prazo::after{
        content: "\00a0meses";
    }

    .ultima-km{
        display: grid;
        grid-column: 2;
        grid-row: 2;
        display: inline-flex;

    }

    .ultima-data{
        display: grid;
        grid-column: 2;
        grid-row: 3;
        display: inline-flex;
    }

    .ultima-data::before, .proxima-data::before{
        content: "em\00a0";
    }

    .proxima-km{
        display: grid;
        grid-column: 3;
        grid-row: 2;
        display: inline-flex;
    }

    .proxima-data{
        display: grid;
        grid-column: 3;
        grid-row: 3;
        display: inline-flex;
    }

    .acoes{
        display: grid;
        grid-column: 4;
        grid-row: 1 / span 3;
        text-align: center;
        width: 1rem;
        justify-content: center;
        align-items: center;
        padding: 1rem 0 1rem 0;
    }

    .scroll{
        height: auto;
        min-width: 1rem;
        border: none;
    }

    .formulario{
        position: fixed;
        top: 30vh;
        left: 10%;
        z-index: 50;
        height: fit-content;
        width: 80%;
        margin: 0;
        border-radius: 6px;
    }

    .botao-flutuante{
        display: flex;
    }

    .i-adicionar{
        width: 8rem;
        height: 8rem;
        position: fixed;
        bottom: 1rem;
        right: 1rem;
        background-color: transparent;
        z-index: 9990;
        padding: 0;
        margin: 0;
        border-radius: 6px;
    }
 }

 /*##################################################################*
 *###                    Layout tablet                            ###*
 *##################################################################*/


  @media ((max-height: 820px) and (min-height:490px) and (orientation: landscape)) 
        or ((max-width: 820px) and (min-width:490px) and (orientation: portrait))
        or ((max-height: 480px) and (orientation: landscape)) {

    *{
        font-size: 12px;
    }
  
    .container{
        display: grid;
        grid-template-areas:
            'cab'
            'corp'
            'ml';
    }

    header{
        height: fit-content;
    }

    .corpo{
        display: flex;
        flex-direction: column;
        margin: 1rem;
        height: auto;
        overflow-y: auto;
    }

    .sem-scroll{
        height: fit-content;
        min-height: 4rem;
    }

    .formulario{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: fit-content;

        form{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
        }
    }

    .formulario-item{
        width: 100%;
    }

    .formulario-campos{
        width: 20%;
    }

    .btn{
        height: 3rem;
    }

    .botao-flutuante{
        display: none;
    }
 }
