:root{
    --fonte-escura: #000000;
    --fonte-clara: #595959;
    --input-fundo: #f9f6f2;
    --tabela-cabecalho:#e2e2e2;
    --tabela-fundo: #f9f6f2;
    --tabela-destaque: #e1dbd6;
    --janela-fundo: #d1d1d1;
    --borda: #3b2b46;
    --sombra: #888888;
}

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas:
        'cab cab cab cab cab cab cab cab cab cab cab cab'
        'ml ml corp corp corp corp corp corp corp corp corp corp';
    gap: 0;
}

label{
    padding: 0 .5rem;
}

input{
    color: var(--fonte-escura);
    background-color: var(--input-fundo);
    border: 1px solid var(--borda);
    border-radius: 6px;
    height: 2rem;
}

header{
    background-color: #000000;
    margin: 1rem;
    grid-area: cab;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: .5rem;
    color: var(--fonte-escura);
    background-color: var(--janela-fundo);


    input, label{
        margin: 0 1rem;
    }

    label{
        margin-top: 1rem;
    }

    input{
        margin-bottom: 1rem;
    }
}

.cabecalho-titulo{
    background-color: blanchedalmond;
    border-bottom: 1px solid var(--borda);
    padding: .5rem;
    margin: 0;
    text-align: center;
    }

.cabecalho-form{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.form-veiculo{
    display: flex;
    flex-direction: column;
    width: 75%;
    min-width: 15rem;
}

.form-info{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    min-width: 30rem;
    width: 25%;
}

.form-info-col{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.corpo{
    margin: 1rem;
    grid-area: corp;
}

.scroll{
    min-width: 50rem;
    height: 68vh;
    overflow-y:auto;
    scrollbar-gutter:stable;
    gap:0;
}

.sem-scroll{
    min-width: 50rem;
    height: 10vh;
    overflow-y: hidden;
    scrollbar-gutter:stable;;
    margin-bottom: 0;
    gap: 0;
    background-color: var(--tabela-cabecalho);
}

table{
    width: 100%;
    border-collapse: collapse;

    thead{
        color: var(--fonte-escura);
        border: none;

        th{
            padding: .5rem;
            font-weight: 100;
            text-align: center;
        }
    }

    tbody{
        background-color: var(--tabela-fundo);

        tr:hover{
        background-color: var(--tabela-destaque);
        }

        td{
            padding: .5rem;
            text-align: center;
        }
    }
}

.sombra{
    box-shadow: 5px 5px 10px var(--sombra);
}

.borda{
    border: 1px solid var(--borda);
}

.esquerda{
    text-align: left;
}

.centro{
    text-align: center;
}

.menu-lateral{
    margin: 1rem;
    grid-area: ml;
    min-width: 14rem;
    color: var(--fonte-escura);
    background-color: var(--janela-fundo);
    display: flex;
    flex-direction: column;
    padding: .5rem;
    height: 78vh;
    
    div{
        padding: .5rem;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

.item{
    text-align: left;
    min-width: 8rem;
}

.km{
    min-width: 5.5rem;
    width: 8rem;
}

.data{
    min-width: 6.5rem;
    width: 8rem;
}

.prazo{
    min-width: 5rem;
    width: 7rem;
}

.acoes{
    min-width: 5rem;
    width: 7rem;
}

.card, .botao-flutuante{
    display: none;
}

.icone{
    display: inline-flex;
    width: 1.7rem;
    height: 1.7rem;
    padding: 0;
    border: none;
    background-color: transparent;
    background-position: center; /* posição do ícone */
    background-size: 100%;
    cursor: pointer;
}

.btn{
    margin-top: .5rem;
    display: flex;
    width: 100%;
    height: 4rem;
    padding: 0;
    background-color: var(--tabela-destaque);
    background-position: center; /* posição do ícone */
    background-size: 100%;
    background-repeat: no-repeat;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;

    img{
    width: 3rem;
    height: 3rem;

    }
}

.i-atualizar{
    background-image: url("./fonts/refresh_48dp_0000F5.svg");
}

.i-deletar{
    background-image: url("./fonts/delete_48dp_EA3323.svg");
}

.i-adicionar{
    background-image: url("./fonts/add_box_48dp_0000F5.svg");    
}

/*##################################################################*
 *###                    Layout mobile                           ###*
 *##################################################################*/

  @media (max-width: 480px) {

    *{
        font-size: 12px;
    }
  

    .container{
        display: flex;
        flex-direction: column;
    }

    header{
        margin: 0;
        flex-direction: column;
        justify-content: flex-start;
        gap: 0;
        height: 16.5rem;

        input, label{
            margin: 0 .5rem;
        }

        label{
            margin-top: .5rem;
        }

        input{
            margin-bottom: .5rem;
        }
    }

    .cabecalho-form{
        flex-direction: column;
    }

    .form-veiculo{
        width: 100%;
    }

    .form-info{
        width: 100%;
        justify-content: flex-start;
        min-width: none;
    }

    .corpo{
        display: flex;
        flex-direction: column;
        margin: 1rem 0 0 0;
        height: auto;
        overflow-y: auto;
    }

    .sem-scroll, table{
        display: none;
    }

    .scroll{
        height: auto;
        min-width: 1rem;
        border: none;
    }

    .card{
        display: flex;
        flex-direction: column;
        margin: 1rem;
        border-radius: 6px;
    }

    .card-corpo{
        display: flex;
        flex-direction: row;
    }

    .card-titulo{
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: .5rem;
        font-weight: bold;
        text-align: left;
        justify-content: space-between;
    }

    .card-col{
        width: 50%;
        padding: .5rem;
        text-align: left;
    }

    .menu-lateral{
        position: fixed;
        top: 30vh;
        left: 10%;
        z-index: 50;
        height: 43vh;
        width: 80%;
        margin: 0;
        border-radius: 6px;
    }

    .botao-flutuante{
        display: flex;
    }

    .i-adicionar{
        width: 8rem;
        height: 8rem;
        position: fixed;
        bottom: 1rem;
        right: 1rem;
    }
 }
